<div class="product-viewer">
  <h2>All Products</h2>
  <%= form_tag(products_path, method: :get, class: "search-form") do %>
    <%= text_field_tag(:internal_title, params[:internal_title], class: "search-text-input") %>
    <%= submit_tag "Search Products" %>
  <% end %>
  <% @core_products.each do |p| %>
    <a href=<%= product_path(p.core_number) %>>
      <div class="product-miniature">
        <h3><%= p.internal_title %></h3>
        <% if p.core_number %><p><b>Core Number: </b><%= p.core_number %></p><% end %>        
      </div>
    </a>
  <% end %>
<div>